APScheduler>=2.0.3
BeautifulSoup>=3.2.1
Elixir>=0.7.1
Flask>=0.8
Jinja2>=2.6
SQLAlchemy>=0.7.6
Tempita>=0.5.1
Werkzeug>=0.8.3
argparse>=1.2.1
decorator>=3.3.2
enzyme>=0.2
gntp>=0.7
guessit>=0.3.1
python-dateutil>=1.5
python-twitter>=0.8.2
requests>=0.11.1
sqlalchemy-migrate>=0.7.2
subliminal>=0.5.1
transmissionrpc>=0.8
oauth2>=1.5.211
gitpy>=0.5